* {
  font-family: Sans-Serif;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}


.login-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  margin-top: 40px;
}

  .list-header {
    background-color: #cfedff;
    color: white;
    font-weight: bold;
  }
  
  .list-user-list-container * img {
    width: 80px;
  }

