body {
  font-family: Sans-Serif;
}

.layout-center {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;
}

.login-root {
  margin: 90px;
}

.login-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.login-container > input {
  width: 320px;
}

.login-container > button {
  width: 180px;
}
